<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/fragments_layout_admin}"
>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div class="container" layout:fragment="content">
    <li class="nav-item d-none d-md-block">
        <a class="nav-link" href="javascript:void(0)">
            <nav class="navbar bg-body">
                <div class="container-fluid">
                    <form class="d-flex" role="search">
                        <input class="form-control custom-shadow custom-radius border-0 bg-white"
                               type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-rounded btn-primary" type="submit">Search</button>
                    </form>
                </div>
            </nav>
        </a>
    </li>
    <div class="row">
        <div class="col-2">
                <label class="form-label">Quyền :</label>
            <select class="form-select" aria-label="Default select example">
                    <option value="1">Tất cả</option>
                    <option value="2">0 có j</option>
                    <option value="3">có cc</option>
                </select>

        </div>
        <div class="col-2">
                <label class="form-label">Quyền :</label>
                <select class="form-select" aria-label="Default select example">
                    <option value="1">Tất cả</option>
                    <option value="2">0 có j</option>
                    <option value="3">có cc</option>
                </select>
        </div>
        <div class="col-2">
                <label class="form-label">Quyền :</label>
                      <select class="form-select" aria-label="Default select example">
                    <option value="1">Tất cả</option>
                    <option value="2">0 có j</option>
                    <option value="3">có cc</option>
                </select>
        </div>


        <div class="col-2">
            <button class="btn btn-rounded btn-primary"><a href="#" data-bs-toggle="modal" data-bs-target="#login-modal"
                                                           style="color: white">Thêm sản phẩm</a></button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Mã</th>
                <th scope="col">Giá Trị</th>
                <th scope="col">Giá Trị Tối Đa</th>
                <th scope="col">Giới Hạn</th>
                <th scope="col">Số Lượng</th>
                <th scope="col">Trạng thái</th>
                <th scope="col">Thời Gian</th>
                <th scope="col">Hoạt Động</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td><a href="#">Mark</a></td>
                <td><a href="#">Otto</a></td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>@mdo</td>
                <td>
                    <a href="#" class="btn waves-effect waves-light btn-rounded btn-warning" data-bs-toggle="modal"
                       data-bs-target="#login-modal">Cập nhật</a>
                    <a href="#" class="btn waves-effect waves-light btn-rounded btn-danger">Xóa</a>
                </td>

            </tr>
            </tbody>

            <!--             -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
            <div id="login-modal1" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="text-center mt-2 mb-4">
                                <a href="index.html" class="text-success">
                                                        <span><img class="me-2" th:src="@{/assets/images/image1.png}"
                                                                   alt="" width="180"></span>
                                </a>
                            </div>

                            <form action="#" class="ps-3 pe-3">

                                <div class="form-group mb-3">
                                    <label class="form-label">Mã1</label>
                                    <input class="form-control" type="text"
                                           required="" placeholder="Nhập mã">
                                </div>

                                <div class="form-group mb-3">
                                    <label class="form-label">Tên1</label>
                                    <input class="form-control" type="text" required=""
                                           placeholder="Nhập tên">
                                </div>

                                <div class="form-group mb-3">
                                    <label class="form-label">Số lượng đơn hàng tối thiểu</label>
                                    <input class="form-control" type="number" required
                                           placeholder="Nhập số lượng đơn hàng tối thiểu">
                                </div>

                                <div class="form-group mb-3">
                                    <label class="form-label">Số tiền tối thiểu</label>
                                    <input class="form-control" type="number" required
                                           placeholder="Nhập số tiền khách chi tối thiểu">
                                </div>

                                <div class="form-group mb-3">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>

                                <div class="form-group mb-3 text-center">
                                    <button class="btn btn-rounded btn-primary" type="submit">Thêm
                                    </button>
                                </div>

                            </form>

                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>

            <!--             &#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
            <div id="login-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="text-center mt-2 mb-4">
                                <a href="index.html" class="text-success">
                                                        <span><img class="me-2" th:src="@{/assets/images/image1.png}"
                                                                   alt="" width="180"></span>
                                </a>
                            </div>

                            <form action="#" class="ps-3 pe-3">

                                <div class="form-group mb-3">
                                    <label class="form-label">Mã</label>
                                    <input class="form-control" type="text"
                                           required="" placeholder="Nhập mã">
                                </div>

                                <div class="form-group mb-3">
                                    <label class="form-label">Tên</label>
                                    <input class="form-control" type="text" required=""
                                           placeholder="Nhập tên">
                                </div>

                                <div class="form-group mb-3">
                                    <label class="form-label">Số lượng đơn hàng tối thiểu</label>
                                    <input class="form-control" type="number" required
                                           placeholder="Nhập số lượng đơn hàng tối thiểu">
                                </div>

                                <div class="form-group mb-3">
                                    <label class="form-label">Số tiền tối thiểu</label>
                                    <input class="form-control" type="number" required
                                           placeholder="Nhập số tiền khách chi tối thiểu">
                                </div>

                                <div class="form-group mb-3">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Open this select menu</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>

                                <div class="form-group mb-3 text-center">
                                    <button class="btn btn-rounded btn-primary" type="submit">Thêm
                                    </button>
                                </div>

                            </form>

                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
        </table>
        <div class="pagination">
            <a href="#" class="btn btn-rounded btn-primary">1</a>
            <a href="#" class="btn btn-rounded">2</a>
            <a href="#" class="btn btn-rounded">3</a>
        </div>
    </div>
</div>
</body>
</html>